.quote {
  height: fit-content;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  color: #8d5b2d;
  padding: 100px;
  margin-top: -30px;
  background-image: linear-gradient(#00000000 3%, #c29061 6%, #00000000 100%);
}

.quote > * {
  margin: 0;
}

.quote > div:first-child {
  font-family: cursive;
  font-size: 3rem;
  line-height: 3.7rem;
  padding-bottom: 5px;
}