.hero {
  background-image: url("/images/hero.jpeg");
  background-size: 115%;
  background-position: 10px -100px;
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 115vh;
  z-index: -3;
}

.hero section {
  height: 100px;
}