.about-us {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 251, 247);
  padding: 50px 100px;
}

.about-us > * {
  width: 750px;
  margin-bottom: 50px;
}

.about-us > :nth-child(odd) {
  text-align: right;
  align-self: flex-end;
}

.about-us > :nth-child(even) {
  text-align: left;
}

.live-your-happiness {
  font-size: 2rem;
}

.map-wrap > * > * {
  width: 650px !important;
  height: 450px !important;
}