.footer {
  letter-spacing: 0.05rem;
  min-height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px 40px;
  /* background-color: #DF917D; */
  background-color: #ecdbcb;
  line-height: 1.7rem;
}

.footer > div {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.footer-left > p {
  margin: 3px;
}

.footer-middle > ul {
  margin: 0;
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #413B3D;
  border-bottom: 1px solid #413b3da4;
}

.footer li a:after {
  content: "";
  display: block;
  outline: 2px solid #ecdbcb;
  width: 0;
}

.footer li a:hover:after {
  animation: underline;
  animation-duration: 1s;
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

.social-icon {
  width: 30px;
}

.social-text {
 position: relative;
 bottom: 5px;
 left: 3px;
}

/* .footer-right {

} */