.user-pic-round {
  border-radius: 50%;
  object-fit: cover;
  width: 185px;
  height: 185px;
  align-self: center;
  border: 5px solid #FDF4F3;
}
.user-pic-round:hover {
  border: 5px solid #DF917D;
  opacity: 0.5;
}
.profile-bg-pic {
  width: 100%
}
.user-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.user-pic-wrapper {
  position: relative;
  bottom: 90px;
}

.inline {
  display: inline;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}