.nav-link {
  text-decoration: none;
  line-height: 100px;
  display: flex;
}

.nav-button {
  background-color: #00000000;
  border: none;
  line-height: 100px;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
}


.color-pallete {
  /* accent: */
  color: #6BD5D3;
  color: #413B3D;
  /* main: */
  color: #DF917D;
  color: #F1CBAA;
  color: #FDF4F3;
}

nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(223, 145, 125, 0.507) 1%, rgba(241, 203, 170, 0.466) 60%, #FDF4F3 100%);
}

.nav-links {
  display: flex;
  width: 45%;
  justify-content: space-around;
  justify-self: flex-end;
}

.logo {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kukee {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}


.kukee-img {
  width: 75px;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  width: 85px;
  height: 85px;
  align-self: center;
}

.profile > * {
  margin-right: 20px;
}

.profile {
  display: flex;
  width: fit-content;
}