.nav-link {
  text-decoration: none;
  line-height: 90px;
  color: black;
}

.nav-button {
  background-color: #00000000;
  border: none;
  line-height: 90px;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
}

.nav-link:hover, .nav-button:hover {
  text-decoration: tomato;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  justify-self: flex-end;
}

.logo {
  padding-left: 30px;
}