.classes li {
  display: flex;
  justify-content: space-between;
}

.classes p {
  margin: 0;
}

.classes ul {
  border-radius: 10px;
  padding-right: 30px;
  width: 150px;
  padding: 30px;
  background-image: linear-gradient(to left, rgba(241, 203, 170, 0.600) 1%, rgba(241, 203, 170, 0.400) 30%, #00000000 70%);
}

.classes h4 {
  margin: 10px;
  font-weight: 600;
  font-size: 2.2rem;
}

.classes {
  display: flex;
  justify-content: space-between;
  padding: 140px 100px 50px 100px;
  padding-bottom: 100px;
  min-height: 400px;
}

.off {
  width: fit-content;
  background-image: linear-gradient(to right, rgba(241, 203, 170, 0.600) 1%, rgba(241, 203, 170, 0.400) 30%, #00000000 70%);
  border-radius: 10px;
  padding: 30px;
}

.schedule {
  text-align: right;
}

.schedule ul {
  width: 400px;
}