.classes li {
  display: flex;
  justify-content: space-between;
}

.classes p {
  margin: 0;
}

.classes ul {
  border-right: 10px solid rgba(223, 145, 125, 0.473);
  border-radius: 10px;
  padding-right: 30px;
  width: 150px;
  padding-bottom: 40px;
}

.classes h4 {
  margin: 10px;
}

.classes {
  padding-bottom: 100px;
  margin: 30px;
}

.off {
  border-left: 10px solid rgba(223, 145, 125, 0.473);
  border-radius: 10px;
  padding-left: 30px;
}